# .npmrc

# パッケージインストール前後のスクリプトを自動実行する
enable-pre-post-scripts=true

# ワークスペースルートのチェックを無効にする
ignore-workspace-root-check=true

# 正確なバージョンを保存する
save-exact=true

# パッケージをワークスペースのルートにインストールする
shamefully-hoist=true

# シェルエミュレータを有効にする
shell-emulator=true

# ピア依存関係の厳密なチェックを無効にする
strict-peer-dependencies=false
